<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Concesionario</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">Inicio</a> |
            <a asp-controller="TipoVehiculos" asp-action="Index">Tipo de Vehículos</a>
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Concesionario</p>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
