@model ConcesionarioWeb.Models.TipoVehiculo
@{
    ViewData["Title"] = "Editar";
}
<h1>Editar Tipo de Vehículo</h1>
<hr />
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <button type="submit">Guardar</button>
    <a asp-action="Index">Volver</a>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
